/* Reset CSS */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Quick styling */
/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 40px;
}

.header span {
    color: #FF9800;
}

.header h2 {
    font-size: 20px;
    color: #666;
}

/* Budget Container */
.budget-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}

/* Budget Header */
.budget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.balance .title {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.balance .value {
    font-size: 36px;
    color: #2196F3;
    margin: 0;
}

.account {
    display: flex;
    justify-content: space-between;
}

.account h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.account p {
    font-size: 20px;
    color: #666;
    margin: 0;
}

/* Budget Dashboard */
.budget-dashboard h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab-item {
    flex: 1;
    text-align: center;
    background-color: #E0E0E0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.tab-item.active {
    background-color: #2196F3;
    color: #fff;
}

.hide {
    display: none;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list li .description {
    flex: 1;
    margin-right: 10px;
}

.list li .amount {
    font-weight: bold;
    color: #2196F3;
}

.input-area {
    display: flex;
    margin-top: 10px;
}

.input-area input[type="text"],
.input-area input[type="number"] {
    flex: 1
}

/* 
DON'T EVER DELETE THESE LINES

DANGER ZONE!!!!!!!
*/
.hide{
    display: none;
}
.active{
    font-weight: bold;
    color: red;
}
/* 
END OF DANGER ZONE!!!!!!!
*/