/* Reset CSS */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* 
DON'T EVER DELETE THESE LINES

DANGER ZONE!!!!!!!
*/
.hide{
    display: none;
}
.active{
    font-weight: bold;
    color: red;
}
/* 
END OF DANGER ZONE!!!!!!!
*/